body {

  #container {
    max-width: 1000px; //rajout de julie//
    width: 100%; //rajout de julie//
    height: 90vh;
    margin: 20px auto;
  }
}

header {
  height: auto; //modif de julie//
  width: 100%;
  background: #ccc;
  #premiere {
    background: #fff;
  }
  #haut {
    ul {
      display: flex;
      justify-content: flex-end;

      li { //modif de julie//
        list-style-type: none;
        margin: 0;
        padding-top: 9px;
        font-weight: bolder;
        border: 1px solid transparent;
        width: 105px;
        height: 60px;
        text-align: center;
        background: #ccc;
        justify-content: flex-end;
        border-radius: 5px 5px 0 0;

        a { //rajout de julie//
          font-size: 20px;
          text-decoration: none;
          font-weight: bold;
          color: #000;
        }
      }
    }
  }

  #haut .inactiveOnglet {
    //rajout de julie//
    background-color: #96989e !important;
  }

  .activeOnglet {
    background-color: rgb(204, 204, 204) !important;
  }

  .visuel, .code {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    
  }

  #tools { //modif de julie//
    display: flex;
    align-items: center;
    margin-top: 8px;
    justify-content: flex-start;

    ul { //menu//  //modif de julie//
      padding: 0;
      padding-left: 15px;
      padding-top: 10px;
      display: inline-block;
      margin-right: 15px;
      // list-style-type: none;

      li.first {
        width: 200px;
      }

      li {
        vertical-align: bottom;
        display: inline-block;
        list-style-type: none;
        background: #ccc;
        margin-top: 0;
        margin-right: 3px;
        border: 1px solid transparent;
        height: 50px;
        width: 65px;
        font-weight: bolder;
      }

    }

    input[type=text], select { //rajout de julie//
      text-align: center;
      text-align-last: center;
    }

    #dropdownMenuButton {
      width: 200px;
      height: 45px;
      border: none;
    }

    .dropdown-item {
      padding-left: 20px;
      padding-right: 5px;
      display: block;
    }

    #dropdownMenuButton::after {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
    }

	.pp {
      font-size: 12px;
      color:#000;
      font-weight: normal;
    }
    .t1 {
      font-size: 35px;
      color:#000;
      
      font-weight: bold;
    }
    .t2 {
      font-size: 27px;
      color:#000;
     
      font-weight: bold;
    }
    .t3 {
      font-size: 22px;
      color:#000;
      font-weight: normall;
      
    }
    .t4 {
      font-size: 18px;
      color:#000;
      font-weight: normal;
     
     
    }
  }
  .icone { //rajout de julie//
    cursor: pointer;
  }
  .icone:hover { //rajout de julie//
    border: 1px solid #96989e;
    border-radius: 5px;
  }

  .icone.active { //rajout de julie//
    background: #96989e;
    border-radius: 5px;
  }

  i { //rajout de julie//
    padding-left: 21px;
    padding-top: 10px;
    box-sizing: border-box;
    font-size: 25px;
    i.bas {
      margin-top: 10px;
      height: 60px;
      vertical-align: bottom;
      text-align: center;
    }
    a {
      text-decoration: none;
    }
    input { //color picker//
      border: none;
      background-color: #ccc;
      height: 15px;
      width: 30px;
      display: block;
      // flex-direction: column;
      // justify-content: flex-start;
    }

  }

}

ul li {
  -moz-user-select: none;
  -webkit-user-select: none;
  position: relative;
  margin-bottom: 10px;
}

ul li {
  -moz-user-select: none;
  -webkit-user-select: none;
  position: relative;
}

.disabled li {
  cursor: not-allowed !important;
}

.disabled li:hover {
  border-color: transparent !important;
}

.tooltip_ {

  background: #000;
  color: #fff;
  font-size: 13px;
  text-align: center;
  width: 75px;
  border: 1px solid transparent;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  z-index: 2;
}

#main {
  padding: 10px;
  overflow-y: scroll;
  height: 500px;
  width: 100%;
  font-size: 20px;
  border: 2px solid black;
  border-box: none;
  resize: both;
}






